#boxDesign{
    width: 450px; 
    height: auto;
    border: 1px solid black; 
    padding: 10px;
    
}

#classStyle{
    background-color: gray;
    height:40px;
    margin-top: -7.5%;
    margin-left: -2.5%;
    margin-right: -2.5%;
    text-align: center;
}


#reviewButton{
    margin-top:0px;
    
}

.rowC{
    display:flex; 
    flex-direction:row;
    padding: '10px';
  }

